<!DOCTYPE html>
<html lang="en">
<head>
	<title>Interactive Parallelization Tool</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<!-- <link href="/base.css" rel="stylesheet"></link> -->

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<!-- 	<div class="container"> -->
<!-- 	<div class="jumbotron">
		<h1><center>Interactive Parallelization Tool</center></h1>      
	</div> -->     
<!-- 	</div> -->
	<!-- Navbar -->

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" >IPT</a>
	    </div>

	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	    </ul>
	  </div>
	</nav>
	<div class="jumbotron">
		<h1><center>Interactive Parallelization Tool</center></h1>      
	</div>
	<!--Tabs-->
{% block activetab %}
<!-- 	    	<li class="active"><a data-toggle="tab" href="compile">Compile</a></li>
		    <li><a data-toggle="tab" href="run">Run</a></li>
		    <li><a data-toggle="tab" href="history">Job History</a></li>
		    <li><a data-toggle="tab" href="help">Help</a></li> -->
{% endblock %}
	  	</ul>
	<!-- End Tabs -->
	  	<div class="tab-content">
{% block body %}
{% block header %}
			<div id=header class="page-header">
{% endblock %}
{% block headersum %}
{% endblock %}
<div class="form-group">
	<div class="form-group">
{% block form-group %}
{% endblock %}
	</div>
</div>
	  		<!-- Compile Tab -->
<!-- 	    	<div id="compile" class="tab-pane fade in active">
	    		<div id=header class="page-header">
						<h1>Launching a Compile Job</h1>
				</div>
		    	<p id=headersum>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<div class="container">
					<form action="#">
						<div class="form-group">
					    	<div class="form-group">
							    <label for="command">Command:</label>
							    <input type="command" class="form-control" id="command" placeholder="Enter $command" name="command">
					    	</div>
					    	<div class="form-group">
							    <label for="driver">Driver:</label>
							    <input type="driver" class="form-control" id="driver" name="driver">
					    	</div>
					    	<div class="form-group">
							    <label for="outfiles">Output File(s):</label>
							    <input type="outfiles" class="form-control" id="outfiles" placeholder="a.out" name="outputfiles">
					    	</div>
					    	<div class="form-group">
							    <label for="addfiles">Additional Files:</label>
							    <input type="addfiles" class="form-control" id="addfiles" placeholder="Add additional files or folders" name="additionalfiles">
					    	</div>
							<div>
							    <span id="fileselector">
							        <label class="btn btn-default" for="upload-file-selector">
							            <input id="upload-file-selector" type="file">
							            <i class="fa_icon icon-upload-alt margin-correction"></i>Upload
							        </label>
							    </span>
							</div>
					    	<div class="form-group">
							    <label for="commargs">Command Args:</label>
							    <input type="commargs" class="form-control" id="commargs" placeholder="$args" name="commargs">
					    	</div>
					    	<button type="submit" class="btn btn-default">Compile Code</button>
				  		</div>
					</form>
				</div>
	    	</div> -->
{% endblock %}
		</div>
	</div>
</body>
</html>
