body {
    background: black;
}

.navbar {
    margin-bottom: 0;
    background: #039;

  }

.navbar-default{
    border-color: #039;
    border-radius: 0px;
    background-color: #039;
    color: #ffffff;
}

.navbar-default .navbar-brand{
    color: #ffffff;
}

.jumbotron {
      margin-bottom: 0;
    }
