{% extends 'base.html' %}

{% block activetab %}
<div class="container">
  <ul class="nav nav-tabs">
	    	<li><a data-toggle="tab" href="terminal">Terminal</a></li>
	    	<li><a data-toggle="tab" href="compile">Compile</a></li>
		    <li><a data-toggle="tab" href="run">Run</a></li>
		    <li class="active"><a data-toggle="tab" href="history">Job History</a></li>
		    <li><a data-toggle="tab" href="help">Help</a></li>
{% endblock %}

{% block body %}
	<!-- History Tab -->
{% block header %}
	<h1>Your Job History</h1>
{% endblock %}
{% block headersum %}
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
{% endblock %}
{% if history_error %}
<div class="error">
	<p>There was an error: {{ history_error }}</p>
</div>
{% endif %}
		<table class="table table-hover">
			<tr>
				<thead>
	    			<th>ID</th>
	    			<th>Name</th>
	    			<th>Status</th>
	    			<th>Start</th>
	    			<th>End</th>
				</thead>
    		</tr>
			{% for job in jobs %}
    		<tr>
    			<td>{{ job.id }}</td>
    			<td>{{ job.name }}</td>
    			<td>{{ job.status }}}</td>	
    			<td>{{ job.startTime }}</td>
    			<td>{{ job.endTime }}</td>
    			<td></td>			    					    		
    		</tr>
    		{% endfor %}	
		</table>
	</div>
{% endblock %}