{% extends 'base.html' %}

{% block activetab %}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="terminal">Terminal</a></li>
        <li><a data-toggle="tab" href="compile">Compile</a></li>
        <li><a data-toggle="tab" href="run">Run</a></li>
        <li><a data-toggle="tab" href="history">Job History</a></li>
        <li><a data-toggle="tab" href="help">Help</a></li>
{% if admin %}
        <li><a data-toggle="tab" href="admin">Admin</a></li>
{% endif %}
        {% endblock %}

        {% block body %}
        <!-- Terminal Tab -->
        {% block header %}
        <h1>Terminal</h1>
        {% endblock %}
        {% block headersum %}
        <!-- This particular block template is only for a tab header.
        This block can be modified or removed completely, just be sure to remove the
        opening and closing "headersum" blocks.  -->
        <h4>Our Terminal page is under construction. We appreciate your patience!</h4>

        {% if error %}
        <div class="error"> There was an error: {{ error }}</div>
        {% endif %}

        {% if msg %}
        <div> {{ msg }}</div>
        {% endif %}


        <!--iframe src="https://ipt-web.tacc.utexas.edu/webterm"  style="overflow:hidden; width:1000px; height:500px; background: white; float:center; " allowtransparency="true"> Terminal Session Frame</iframe-->
        {% if url %}
        <iframe id="webterm" src="{{ url }}"  style="overflow:hidden; width:1000px; height:500px; background: white; float:center; " allowtransparency="true"> Terminal Session Frame</iframe>
        {% else %}
        <iframe id="webterm" src=""  style="overflow:hidden; width:1000px; height:500px; background: white; float:center; " allowtransparency="true"> Terminal Session Frame</iframe>
        {% endif %}
<script>
    $(document).ready(function(){
        src = document.getElementById('webterm').src;
        if (src === "https://ipt-web.tacc.utexas.edu/terminal"){
            updated_src = "";
            while (updated_src === ""){

                $.get("webterm",
                function(data) {
                    obj = JSON.parse(data);
                    if (obj.url !== ""){
                        updated_src = obj.url;
                    }
                });
            }
            $('#webterm').src() = updated_src;
        }

    });
</script>

        {% endblock %}

        {% endblock %}
